* {
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    --main-bg: #004015;
    --grass1-bg: #98CB40;
    --grass2-bg: #A0D147;
    --grass-hover: #B0D86C;
    --white-txt: white;
    --dirt-bg: #E1BA95;
    --border: #D1AF8E;
    --one-num: #186BCC;
    --two-num: #318335;
    --three-num: #CD2929;
    --four-num: #701D98;
    --five-num: #FC870A;
    --six-num: #FFC300;
    --seven-num: #403F3D;
    --eight-num: #9B9288;
  }

  body {
    height: 100vh;
    margin: 0;
    background-color: var(--main-bg);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(---num); */
    /* border-bottom: thick solid var(--dirt-bg); */
  }

  h1 {
    color: var(--white-txt);
    font-family: 'Roboto Mono', monospace;
    font-size: 4vmin;
    padding-left: 2vmin;
  }
  
  
  .grid-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: flex;
    border: thick solid var(--border);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    height: 80vmin;
    width: 80vmin;
  }
  
  .grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid var(--border); */
    flex-grow: 1;
    height: 10%;
    width: 10%;
  }

  .grid div:hover {
    background-color: var(--grass-hover);
  }
  
