* {
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    color: white;
    --main-bg: #004015;
    --grass1-bg: #98CB40;
    --grass2-bg: #A0D147;
    --grass-hover: #B0D86C;
    --white-txt: white;
    --dirt-bg: #E1BA95;
    --border: #D1AF8E;
    --one-num: #186BCC;
    --two-num: #318335;
    --three-num: #CD2929;
    --four-num: #701D98;
    --five-num: #FC870A;
    --six-num: #FFC300;
    --seven-num: #403F3D;
    --eight-num: #9B9288;
  }

  body {
    height: 100vh;
    margin: 0;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #headerEl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vmin;
    margin-right: 2vmin;
    background-color: var(---num);
    border-bottom: thick solid var(--dirt-bg);
  }

  h1 {
    color: var(--white-txt);
    font-family: 'Roboto Mono', monospace;
    font-size: 4vmin;
    margin-right: 5vmin;
  }

  h3 {
    font-size: 3.5vmin;
  }

  .grid-wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: flex;
    border: thick solid var(--border);
    flex-wrap: wrap;
    height: 80vmin;
    width: 80vmin;
  }
  
  .grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .grid div:hover {
    background-color: pink;
  }

  #flagDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    width: 10vmin;
    margin-right: 3vmin;
  }

  #timerDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10vmin;
    margin-right: 3vmin;
  }

  #buttonsDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  button {
    color: white;
    height: 4vmin;
    width: 10vmin;
    font-size: 2vmin;
    margin-left: 0.5vmin;
    margin-right: 0.5vmin;
    background-color: var(--main-bg);
    border: 1px solid white;
  }

  button:hover {
    background-color: var(--grass-hover);
  }

  .selected {
    border: 1px solid grey;
    background-color: var(--grass1-bg);
  }
